* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(28, 46, 120);
}

/* Header */
header{
    background-color: rgb(4, 8, 49);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

header .logo{
    position: relative;
    color: rgb(231, 228, 27);
    font-size: 50px;
    text-decoration: none;
    font-weight: 200;
    letter-spacing: 1px;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}
  
.searchTerm {
    width: 100%;
    border: 2px solid rgb(231, 228, 27);
    border-right: none;
    padding: 5px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}
  
.searchTerm:focus{
    color: rgb(4, 8, 49);
}
  
.searchButton{
    width: auto;
    height: 40px;
    border: 1px solid rgb(231, 228, 27);
    background: rgb(231, 228, 27);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
  
header .wrap{
    width: 30%;
}

header .navigation a{
    color: rgb(231, 228, 27);
    text-decoration: none;
    padding: 0px 20px;
    font-size: 18px;
}


/* CONTENT */
.content{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.content1{
    background-color: rgb(14, 20, 82);  
    margin-bottom: 20px;

}

.content1 h3{
    margin-left: 12px;
    margin-top: 10px;
    color: white;
}

.banner{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.banner:hover{
    transform: scale(1.02);
}

.banner img{
    width: 100%;
    border-radius: 5px;
}

.list-game{
    display: flex;
    justify-content: center;
}

.game{
    background: rgb(231, 228, 27);
    width: 300px;
    margin: 10px;
    border-radius: 5px;
}

.game h2{
    margin-left: 7px;
    font-size: 20px;
}

.game p{
    margin-left: 7px;
    margin-bottom: 7px;
    font-size: 15px;
}

.game-image{
    background-color: black;
    height: 400px;
    margin-bottom: 7px;
    background-size: cover;
    border-radius: 5px 5px 0 0;
}

.game-1{
    background-image: url(gambar/dark\ souls\ 3.png);
}

.game-2{
    background-image: url(gambar/elden\ ring.png);
}

.game-3{
    background-image: url(gambar/sekiro.png);
}

.game-4{
    background-image: url(gambar/mgs5.png);
}

.game-5{
    background-image: url(gambar/the\ witcher\ 3.png);
}

.game:hover{
    transform: scale(1.03);
}

.about-me{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.about-me p{
    color: rgb(231, 228, 27);
    font-size: 50px;
    margin-bottom: 20px;

}
.bio{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.bio img{
    width: 180px;
    height: 200px;
}
.bio table{
    color: white;
    font-size: 20px;
    margin-left: 80px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: rgb(176, 240, 27);
    color: white;
}

.footer p{
    color: rgb(14, 20, 82);
    text-align: center;
    margin-top: 7px;
    margin-bottom: 7px;
}

@media screen and (max-width: 800px){
    header{
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

    header .logo{
        font-size: 67px;
    }


    .searchTerm {
        height: 30px;
    }
      
      
    .searchButton{
        height: 30px;
    }
      
    header .wrap{
        width: 80%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    header .navigation a{
        padding: 0px 18px;
        font-size: 15px;
    }

    .banner{
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .banner img{
        width: 100%;
        border-radius: 5px;
    }

    .content1{
        margin-bottom: 10px;
    }
    
    .content1 h3{
        margin-left: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 10px;
    }

    .game{
        width: 100px;
        margin: 2px;
        margin-bottom: 5px;
        border-radius: 5px;
    }
    .game h2{
        margin-left: 5px;
        font-size: 10px;
    }
    
    .game p{
        margin-left: 5px;
        margin-bottom: 5px;
        font-size: 10px;
    }
    
    .game-image{
        height: 110px;
        margin-bottom: 7px;
        background-size: cover;
    }

    .about-me p{
        font-size: 30px;
        margin-bottom: 10px;
    
    }
    .bio{
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    .bio img{
        width: 100px;
        height: 120px;
    }
    .bio table{
        color: white;
        font-size: 10px;
        margin-left: 15px;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 20px;
    }
    
    .footer p{
        color: rgb(14, 20, 82);
        font-size: 12px;
        text-align: center;
        margin-top: 3px;
        margin-bottom: 3px;
    }
}
